
{%block body%}
<div class="container">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Hotel:  {{room.hotel}}</li>
                  <li class="list-group-item">Place:  {{room.description}}</li>
                  <li class="list-group-item">Address:  {{room.price}}</li>
                  <li class="list-group-item">Description:  {{room.doornum}}</li>
                  <li class="list-group-item">Capacity:  {{room.capacity}}</li>
                  <li class="list-group-item">Status:  {{room.rtype}}</li>
                  <li class="list-group-item">status:  {{room.fmenu}}</li>




                </ul>
              </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}